.heading{
    background-color:green;
    color:gray;
    font-size:50px;
    padding:5px;
    margin:5px;
}
#ipad_status{
    font-size:16px;
    color:black;
    margin:5px;
}
#ipad_amount{
    font-size:16px;
    color:black;
    margin:5px;
}
canvas{
    background-color:white;
    border-color:black;
    box-shadow:5px 5px 5px;
    padding:5px;
    margin:5px;
}